/* load From Google WebFont
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic);
*/

/**************
 * FONTS
 **************/

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Reg-webfont.eot');
    src: url('../fonts/Lato/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Reg-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-Reg-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-RegIta-webfont.eot');
    src: url('../fonts/Lato/Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-RegIta-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-RegIta-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-RegIta-webfont.svg#LatoItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'News Cycle';
    src: url('../fonts/NewsCycle/NewsCycle-Regular-webfont.eot');
    src: url('../fonts/NewsCycle/NewsCycle-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsCycle/NewsCycle-Regular-webfont.woff') format('woff'),
         url('../fonts/NewsCycle/NewsCycle-Regular-webfont.ttf') format('truetype'),
         url('../fonts/NewsCycle/NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: black; }

::selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: black;
  font-family: "News Cycle", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: darkblue;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #0000f1;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #00003f; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: darkblue;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: darkblue; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: darkblue; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: darkblue; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: darkblue; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #0000f1; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #0000f1; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #0000f1; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #0000f1; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: darkblue;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
